
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: rgb(64, 64, 63);
}
html {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* variable to use the same property*/
element {
    --hover-color: rgb(214, 212, 212);
}

/*Nav*/
nav {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 3px 5px 25px 0 rgb(0 0 0 / 10%);
}
nav ul{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    width: 80%;
}
nav ul li {
    padding: 0 1%;
}
nav ul li a {
    text-decoration: none;
    font-size: 20px;
}
nav ul li p {
    color: rgb(185, 186, 187);
    font-size: 20px;
}
nav ul li:hover{
    background-color: rgba(0, 0, 0, 0.053);
    border-radius: 45px;
    box-shadow: 3px 5px 25px 0 rgb(0 0 0 / 10%);
}

/* main */
#container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* deleteTabButton*/
#deleteTab{
    margin-top: 0.9%;
    height: 50px;
    width: 15%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    background-color: #2d2d2d;
    color: white;
    box-shadow: 3px 5px 25px 0 rgb(0 0 0 / 10%);
}
#deleteTab:hover{
    color: var(--hover-color);
}

/*Tableau*/
table, th, td {
    border: 1px solid;
    height: 40px;
    text-align: center;
}
table tr:nth-child(even) {
    background-color: rgb(236, 236, 236);
}
table tbody tr:last-child{
    background-color: white;
    font-size: 140%;
}
table {
    border: 3px solid;
    margin-top: 10px;
    border-collapse: collapse;
    width: 40%;
    box-shadow: 3px 5px 25px 0 rgb(0 0 0 / 10%);
}
thead {
    border: 2px solid;
}
header div .fa {
    font-size: 180%;
}
#shoppingCart {
    position: absolute;
    top: 5px;
    right: 36px;
    width: 20px;
    height: 20px;
    background-color: #3587cf;
    color: white;
    border-radius: 45px;
    text-align: center;
    font-size: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}
/*+ and - button on tab*/
td:nth-child(4) div{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.qttMod {
    border-radius: 25px;
    height: 22px;
    width: 22px;
    padding: 2px;
    border: none;
    background-color: rgb(43, 41, 41);
    color: white;
    text-decoration: none;
}
.qttMod:hover {
    color: var(--hover-color);
}
/*remove button*/
td:nth-child(5) div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 10%;
    margin-right: 5%;
}
.removeBtn {
    border-radius: 25px;
    border: none;
}
.removeBtn i {
    font-size: 170%;
    color: rgb(214, 62, 62);
    box-shadow: 3px 5px 25px 0 rgb(0 0 0 / 10%);
}

/*Form Product*/
#createProduct {
    margin: 1.5%;
    width: 40%;
    height: 300px;
    background-color: #d7d3dbb5;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 12px;
    box-shadow: 3px 5px 25px 0 rgb(0 0 0 / 10%);
}
form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
form p {
    margin-top: 20px;
    font-weight: bold;
}
form p:hover label{
    color: var(--hover-color);
}
form input {
    height: 140%;
    border: none;
    border-radius: 3px;
    box-shadow: 3px 5px 25px 0 rgb(0 0 0 / 10%);
    -webkit-appearance: none;
    text-indent: 5%;
}
/* submit button*/
form p:last-child input:last-child {
    background-color: rgb(71, 68, 66);
    width: 130px;
    color: white;
    font-weight: bold;
    text-indent: 0;
}
form p:last-child:hover input:last-child {
    color: rgb(201, 201, 201);
}

.message {
    margin: 1.5%;
    width: 40%;
    height: 70px;
    background-color: #d7d3dbb5;
    border-radius: 4px;
    font-style: italic;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 12px;
    box-shadow: 3px 5px 25px 0 rgb(0 0 0 / 10%);
}
.error {
    color: rgb(209, 41, 41);
    font-weight: bold;
}