
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Nav*/
nav {
    height: 50px;
    background-color: rgb(124, 112, 95);
    border-radius: 0 0 15px 15px;
    box-shadow: 0 0 2px 2px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
nav ul{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    width: 80%;
}
nav ul li a {
    color: rgb(185, 186, 187);
    text-decoration: none;
    text-shadow: 1px 1px 1px rgb(206, 206, 206);
    font-size: 20px;
}
nav ul li p {
    color: rgb(185, 186, 187);
    text-shadow: 1px 1px 1px rgb(206, 206, 206);
    font-size: 20px;
}
nav ul li:hover a{
    font-weight: bold;
    color: rgb(44, 40, 46);
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*Tableau*/
table, th, td {
    border: 1px solid;
    height: 40px;
    text-align: center;
}
table {
    border: 3px solid;
    margin-top: 10px;
    border-collapse: collapse;
    width: 40%;
}
thead {
    border: 2px solid;
}
#shoppingCart {
    font-size: 170%;
}
/*+ and - button on tab*/
td:nth-child(4) div{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.qttmod {
    border-radius: 25px;
    height: 30px;
    width: 30px;
    padding: 2px;
    border: none;
    background-color: rgb(43, 41, 41);
    color: white;
    text-decoration: none;
}
/*remove button*/
td:nth-child(5) div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 10%;
    margin-right: 5%;
}
.removeBtn {
    border-radius: 25px;
    border: none;
}
.removeBtn i {
    font-size: 170%;
    color: rgb(214, 62, 62);
}

/*Form Product*/
#createProduct {
    margin: 1.5%;
    width: 40%;
    height: 300px;
    background-color: #d7d3dbb5;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 12px;
    box-shadow: 2px 2px 0 0;
}
form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
form p {
    margin-top: 5px;
}
form p:last-child input:last-child {
    background-color: rgb(71, 68, 66);
    border-radius: 0 0 5px 0;
    height: 130%;
    width: 130px;
    color: white;
}
#message {
    margin: 1.5%;
    width: 40%;
    height: 70px;
    background-color: #d7d3dbb5;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 12px;
    box-shadow: 2px 2px 0 0;
}
.error {
    color: rgb(209, 41, 41);
    font-weight: bold;
}